{% extends 'base.html.twig' %}

{% block title %}Index - symphony{% endblock %}

{% block body %}
<div class="container-fluid text-center py-3">
    <img src="http://placehold.it/1500x600" alt="Main cover picture">
</div>
<div class="container py-4">
    <h1 class="text-primary w-100 text-center font-weight-bold">Welcome to the StarCoinfee !</h1>
    <h2 class="text-dark w-100 text-center">The ducking best restaurant in town !</h2>
</div>
<div class="container-fluid d-flex flex-wrap justify-content-around">
    <div class="card mt-4" style="max-width: 30vw;">
        <div class="card-header text-center">Product</div>
        <div class="card-body">
            <h4 class="card-title">Name of the product</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mt-4" style="max-width: 30vw;">
        <div class="card-header text-center">Product</div>
        <div class="card-body">
            <h4 class="card-title">Name of the product</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mt-4" style="max-width: 30vw;">
        <div class="card-header text-center">Product</div>
        <div class="card-body">
            <h4 class="card-title">Name of the product</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mt-4" style="max-width: 30vw;">
        <div class="card-header text-center">Product</div>
        <div class="card-body">
            <h4 class="card-title">Name of the product</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
{% endblock %}
