{% extends 'base.html.twig' %}

{% block title %}Index - symphony{% endblock %}

{% block body %}
<div class="container py-4">
    <h1 class="text-light text-center font-weight-bold">Welcome to the StarCoinfee !</h1>
    <h1 class="text-light text-center">The ducking best restaurant in town !</h1>
</div>
<div class="container-fluid text-center py-3">
    <img src="http://placehold.it/1600x600" style="border-radius: 0.25rem;" alt="Main cover picture">
</div>
<hr class="bg-light py-1 my-5">
<div class="container bg-primary p-3 text-center" style="border-radius: 0.25rem;">
    <h1 class="text-light font-weight-bold py-3"><u>Breakfast</u></h1>
    <img src="http://placehold.it/1000x300" alt="Breakfast table">
    <hr class="bg-light mx-2">
    <p style="font-size: larger;" class="text-left mx-5 px-5 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. In magnam temporibus optio inventore libero amet quas soluta, voluptates, sequi vero provident labore porro repellat commodi tempora nemo eaque possimus dolor nesciunt hic fuga non, ex dolores esse? Est exercitationem unde omnis, at illo animi ipsa nulla velit dicta necessitatibus distinctio!</p>
    <p style="font-size: larger;" class="text-left mx-5 px-5 text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem aperiam ex veniam eius aspernatur quia vel voluptatibus labore, provident expedita necessitatibus? Ratione aspernatur consequatur velit eos neque nobis assumenda saepe, ut id alias fugit dicta.</p>
</div>
<div class="container bg-info p-3 text-center my-5" style="border-radius: 0.25rem;">
    <h1 class="text-light font-weight-bold py-3"><u>Lunch</u></h1>
    <img src="http://placehold.it/1000x300" alt="Breakfast table">
    <hr class="bg-light mx-2">
    <p style="font-size: larger;" class="text-left mx-5 px-5 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. In magnam temporibus optio inventore libero amet quas soluta, voluptates, sequi vero provident labore porro repellat commodi tempora nemo eaque possimus dolor nesciunt hic fuga non, ex dolores esse? Est exercitationem unde omnis, at illo animi ipsa nulla velit dicta necessitatibus distinctio!</p>
    <p style="font-size: larger;" class="text-left mx-5 px-5 text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem aperiam ex veniam eius aspernatur quia vel voluptatibus labore, provident expedita necessitatibus? Ratione aspernatur consequatur velit eos neque nobis assumenda saepe, ut id alias fugit dicta.</p>
</div>
<div class="container bg-warning p-3 text-center" style="border-radius: 0.25rem;">
    <h1 class="text-light font-weight-bold py-3"><u>Diner</u></h1>
    <img src="http://placehold.it/1000x300" alt="Breakfast table">
    <hr class="bg-light mx-2">
    <p style="font-size: larger;" class="text-left mx-5 px-5 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. In magnam temporibus optio inventore libero amet quas soluta, voluptates, sequi vero provident labore porro repellat commodi tempora nemo eaque possimus dolor nesciunt hic fuga non, ex dolores esse? Est exercitationem unde omnis, at illo animi ipsa nulla velit dicta necessitatibus distinctio!</p>
    <p style="font-size: larger;" class="text-left mx-5 px-5 text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem aperiam ex veniam eius aspernatur quia vel voluptatibus labore, provident expedita necessitatibus? Ratione aspernatur consequatur velit eos neque nobis assumenda saepe, ut id alias fugit dicta.</p>
</div>
<div class="container bg-success p-3 text-center my-5" style="border-radius: 0.25rem;">
    <h1 class="text-light font-weight-bold py-3"><u>Drinks</u></h1>
    <img src="http://placehold.it/1000x300" alt="Breakfast table">
    <hr class="bg-light mx-2">
    <p style="font-size: larger;" class="text-left mx-5 px-5 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. In magnam temporibus optio inventore libero amet quas soluta, voluptates, sequi vero provident labore porro repellat commodi tempora nemo eaque possimus dolor nesciunt hic fuga non, ex dolores esse? Est exercitationem unde omnis, at illo animi ipsa nulla velit dicta necessitatibus distinctio!</p>
    <p style="font-size: larger;" class="text-left mx-5 px-5 text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem aperiam ex veniam eius aspernatur quia vel voluptatibus labore, provident expedita necessitatibus? Ratione aspernatur consequatur velit eos neque nobis assumenda saepe, ut id alias fugit dicta.</p>
</div>
<hr class="bg-light py-1 my-4">
<div class="container pt-1 pb-3">
    <h2 class="text-light text-center font-weight-bold">Here are some pictures :</h2>
</div>
<div class="container-fluid pb-5 px-3 d-flex justify-content-around flex-wrap">
    <div class="text-center" style="min-width: 15vw;"><img src="http://placehold.it/200x200" alt="picture from the gallery" style="border: 20px solid white;max-width: 25vw"></div>
    <div class="text-center" style="min-width: 15vw;"><img src="http://placehold.it/200x200" alt="picture from the gallery" style="border: 20px solid white;max-width: 25vw"></div>
    <div class="text-center" style="min-width: 15vw;"><img src="http://placehold.it/200x200" alt="picture from the gallery" style="border: 20px solid white;max-width: 25vw"></div>
    <div class="text-center" style="min-width: 15vw;"><img src="http://placehold.it/200x200" alt="picture from the gallery" style="border: 20px solid white;max-width: 25vw"></div>
    <div class="text-center" style="min-width: 15vw;"><img src="http://placehold.it/200x200" alt="picture from the gallery" style="border: 20px solid white;max-width: 25vw"></div>
    <div class="text-center" style="min-width: 15vw;"><img src="http://placehold.it/200x200" alt="picture from the gallery" style="border: 20px solid white;max-width: 25vw"></div>
</div>
{% endblock %}
