<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="container-fluid px-0 bg-secondary" style="height: 100vh; width: 100vw; overflow-x: hidden;">
        <div id="nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 25vw;">
                <a class="navbar-brand pr-4" href="/">StarCoinfee</a>              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-2">
                      <a class="nav-link" style="font-size: larger;" href="/">HOME</a>
                    </li>
                    <li class="nav-item mx-2">
                      <a class="nav-link" style="font-size: larger;" href="/shop">SHOP</a>
                    </li>
                  </ul>
                  <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form> -->
                </div>
            </nav>
        </div>
        {% block body %}{% endblock %}
        <footer class="container-fluid px-0 mt-3 bg-light d-flex" style="position: fixed; left: 0; bottom: 0; border-top: 5px solid grey;">
          <ul class="mb-0 py-2 mx-auto">
            <li style="display: inline;font-size: 130%;border-left: 2px solid black" class="pl-2 mx-3">03.22.92.99.70</li>
            <li style="display: inline;font-size: 130%;border-left: 2px solid black" class="pl-2 mx-3">Place Renée Goblet, Amiens</li>
            <li style="display: inline;font-size: 130%;border-left: 2px solid black" class="pl-2 mx-3">contact@starcoffee.fr</li>
            <li style="display: inline;font-size: 130%;border-left: 2px solid black" class="pl-2 mx-3">Facebook</li>
            <li style="display: inline;font-size: 130%;border-left: 2px solid black" class="pl-2 mx-3">Instagram</li>
          </ul>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
